

.divideform{
    border-radius: 10px;
    border: 2px solid rgb(151, 167, 174);
    background-color: #C0C3CC;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.buttonclass{
    background-color: rgb(152, 215, 233);
    border-radius: 10px;
    width: 100%;
}