

.navcontainer{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    padding: 0 24px;
    max-width: 1100px;
}

.Logo{
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 24px;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}

a{
    text-decoration: none;
    color: rgb(255, 0, 0);
}
