.SubInfo{
    background-color: white;
    width: 80%;
    overflow-y: scroll;
    border-radius: 10px;
 
    
    
}

@media (max-width:700px){
    .SubInfo{
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
       background-color:#615959 ;
       
    }
    }