.listback{
    background-color:white;
    margin:0px;
    display: flex;

    justify-content: center;
    align-items: center;
}


.Listcard{
    margin: 30px 10px 0px 40px;
    width: 80%;
    background-color: #53424C;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-radius: 10px;
    left: 20px;
   }



.buttonclass1{
   background-color:#53424C ;
    color: rgb(255, 235, 235);
    border-color: transparent;
     border: none;
     
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.kcalcontent{
    border-radius: 10px;
    background-color:rgb(255, 235, 235);
    width: 60%;
    
}

.content-box{
    overflow-y: scroll;
}

.timecontainer{
    background-color: #BAA6B1;
    margin: 0px;
    border-radius: 10px;
    height: 20%;
    
    display: flex;
    align-items: flex-end;
  
    justify-content: flex-end;
    font-weight: 500;
}

.textcontent-op{
    background-color:rgb(255, 235, 235);
}

textarea{
    width: 90%;
    height: 90%;
    align-items: center;
}



@media (max-width:700px){
    .Listcard{
        width: 100%;
    }
    .listback{
        background-color: rgba(255,255,255,0.1);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}