.DataForm{
    background-color: #BAA6B1;
    border-radius: 20px;
}

.Exercise-DataForm{
    background-color: #BAA6B1;
    border-radius: 10px;
    
}

.Exercise-inputForm{
    display: flex;
    justify-content: flex-start;
    background-color: #BAA6B1;
    width: 100%;
    /* background-color: aliceblue;
    
    margin: 0px; */
    
}


form{
    background-color: #BAA6B1;
    margin: 0px;
    border-radius: 20px;
    color: white;
}

label{
    background-color:#BAA6B1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.Exercise-actions{
    background-color: #BAA6B1;
}

input{
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    
}

.inputtext{
   
   height: 100px;
}

.buttonclass{
    background: #53424C;
    width: 100%;
    border-radius: 20px;
    color: wheat;
    font-size: 20px;
    font-weight: 900;  
}



